/* font */
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */

:root {
    --primary-font: "sour gummy", sans-serif;
    --primary-color: #ffffff;
    --highlight-color: #F89900;
    --background-color: #1A4B56;
}

/* Global Styles */

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
p {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

/* Main content should take all available space */

.main-content {
    flex: 1;
}

/* Button Styles */

.button {
    background-color: var(--highlight-color);
    color: var(--background-color);
    border: 2px solid var(--background-color);
    padding: 10px 20px;
    font-family: var(--primary-font);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
    font-weight: 700;
}

.button:hover {
    background-color: var(--background-color);
    color: var(--highlight-color);
    border-radius: 20px;
}

/* Navbar Styles */

.navbar {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--primary-font);
    padding: 5px 0;
    border-bottom: 2px solid #F89900;
}

.navbar a {
    color: var(--background-color);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--highlight-color);
    background-color: var(--background-color);
    border-radius: 20px;
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/DALL·E\ 2024-11-08\ 10.52.05\ -\ A\ colorful\,\ inviting\ illustration\ of\ a\ diverse\ family\ standing\ together\,\ including\ children\,\ adults\,\ and\ older\ people.\ They\ are\ being\ shielded\ from\ th.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--background-color);
    font-size: 130%;
    position: absolute;
    bottom: 20px;
    width: 100%;
    min-height: 50px;
    padding-top: 2px;
    padding-left: 10px;
    border: 2px solid var(--highlight-color);
    display: flex;
    justify-content: center;

}

/* Ensure Hero text elements use --background-color (name theme) */

#cover-text h1 {
    color: var(--background-color);
    margin: 0;
    flex: 1;
    text-align: center;
}

.box {
    width: 95%;
    height: 350px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.video-column {
    display: flex;
    justify-content: center;
}

/* Footer Styles */

.footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--primary-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-top: 2px solid #F89900;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer p,
.footer div {
    margin: 0;
}

.footer a {
    color: var(--background-color);
    text-decoration: none;
    margin-left: 15px;
}

.footer a:hover {
    color: var(--highlight-color);
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 0 4px;
}

.footer i {
    margin: 0 20px;
    align-self: center;
}